<h1>welcome to the sunday loft</h1>
<p>
  We’re a Singapore-based e-commerce store that’s passionate about curating stunning and timeless home decor and
  furnishings. Our ultimate goal is to help you create a space that you’ll love to be in - a home that’s not just
  visually appealing, but also a place of relaxation, happiness, and connection. Whether you’re winding down after a
  long day of work, or catching up with friends over a cup of tea, we believe that your surroundings play a key role in
  setting the tone.
  <br>
  That’s why we work hard to source unique and charming pieces that we personally love and think you
  will too. So go ahead, explore our collection and let us help you turn your house into a warm and inviting sanctuary.
</p>

<h1>everyday feels like sunday</h1>
<p>
  The feeling of Sunday is often associated with a sense of peace, relaxation, and contentment. It’s a day of rest,
  where people can slow down and take a break from the busy demands of daily life. Sunday is a day for spending time
  with loved ones, indulging in self-care activities, and engaging in leisurely pursuits. It’s a day that feels cozy and
  comforting, with a hint of anticipation for the week ahead.
</p>

<h1>the loftie membership</h1>
<p>
  If you love our brand and products, we want to show our appreciation by inviting you to join The Loftie Membership. As
  a member, you’ll earn points with every purchase that you make, which you can use to get discounts on future
  purchases. It’s our little way of saying thank you for being a part of our community and supporting our small
  business.
  <br>
  But that’s not all - we also want to invite your friends to join us! If you know someone who would love our aesthetic
  and style, feel free to refer them to us. As a thank you, both you and your friend will receive a $10 off coupon to
  use on your next purchase. We want to share the love and joy of creating a beautiful home with everyone, so come join
  us and let’s create something special together.
</p>
