<div class="orange">enjoy special deals — join the loftie membership</div>

<style>
      .orange {
          height: 4vh;
          display: flex;
          {% comment %} vertical align elements {% endcomment %}
          align-items: center;
          {% comment %} horizontal align elements {% endcomment %}
          justify-content: center;
          background-color: #E7EADE;
          font-family: lora, serif;
          font-weight: 400;
          font-style: normal;
          font-size: 0.984rem;
      }
</style>
