<div class="orange">
    enjoy special deals — join the loftie membership
</div>

<style>
    .orange {
        height: 4vh;
        display: flex;
        align-items: center;
        text-align: center;
        background-color: #E7EADE;
    }
</style>