<div class="cart-item_overview">
  <div class="row-1">
    <div class="product-summary">
      <div class="product-title">Boucle Ball Cushion (Beige)</div>
      <div class="product-variant">30 x 30 cm / Beige</div>
    </div>

    <div class="cart-price roboto-bold">$35</div>
  </div>

  <div class="row-2">
    <div class="quantity-group">quantity</div>

    <div class="product-remove">remove</div>
  </div>
</div>

<style>
  .cart-item_overview .row-1,
  .cart-item_overview .row-2 {
    display: flex;
    justify-content: space-between;
  }

  .cart-item_overview {
    border: 1px solid black;
    width: 28vw;
  }

  .product-remove {
    text-decoration: underline;
  }
</style>
