<div class="row-1">
  <div class="product-title">Boucle Ball Cushion (Beige)</div>
  <div class="product-variant">30 x 30 cm / Beige</div>

  <div class="cart-price">$35</div>
</div>

<div class="row-2">
  <div class="quantity-group">quantity</div>

  <div class="product-remove">remove</div>
</div>

<style>
  .row-1,
  .row-2 {
    display: flex;
  }
</style>
