<style>
    .banner {
      position: relative;
      display: flex;
      align-content: center;
    }
    .banner img {
      width: 100%;
    }
    .banner .text {
      position: absolute;
      top: 23%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      text-align: center;
      width: 30vw; /* specify the width of the text box */
    }
    .banner .text-2 {
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      text-align: center;
      width: 25vw; /* specify the width of the text box */
    }
    .banner .button {
      position: absolute;
      top: 87%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-bottom: 1px solid white;
    }
  
    .banner .button a {
      color: white;
      text-transform: uppercase;
      font-size: 0.85rem;
      letter-spacing: 1.3;
    }
  </style>
  
  <div class="banner">
    <img src="https://wallpapercave.com/wp/wp4815672.jpg" alt="Banner image">
    <div class="text">
      <h0>What Will You Pack Today?</h0>
    </div>
    <div class="text-2">
      <p>Family backpacks that go everywhere, organize everything and look great on everyone.</p>
    </div>
    <div class="button"><a href="">Shop Our Bags</a></div>
  </div>