<div class="rewards-page">
  <div class="banner-image">
    <img src="{{ 'placeholder-images/lifestyle-1.jpg' | asset_url }}" alt="Shopify Placeholder Image">
  </div>
</div>

<style>
    .banner-image {
        height: 53.571vh;
    }
    {% comment %} working guides, delete later {% endcomment %}
    .banner-image {
        border: 1px solid black;
    }
</style>
