<div class="banner-image">
  {{ 'lifestyle-1' | placeholder_svg_tag }}
</div>
<h1>welcome to the loftie membership</h1>
<p>
  We love helping you save, and we hope these options make it easier for you to shop with us. We’re always looking for
  ways to make your experience better, so feel free to reach out to us with any suggestions or feedback you may have.
  Thank you for being a part of our community!
</p>
<div class="point-conversion" style="font-family: lora, serif; font-weight: 400; font-style: normal;">
  <span style="font-size:1.266rem;">SGD $</span>
  <span>1</span>
  <span style="font-size:1.266rem;">=</span>
  <span>5</span>
  <span style="font-size:1.266rem;">Points</span>
</div>
<div class="buttons">
  <a class="primary-button" href="">sign up</a>
  <a class="secondary-button" href="">log in</a>
</div>

<style>
  .banner-image {
      height: 53.571vh;
      overflow: hidden;
  }
  {% comment %} working guides, delete later {% endcomment %}
  .banner-image {
      border: 1px solid black;
  }
</style>
