<div class="rich-text">
  <h1>this is an example heading</h1>
  <p>
    this is an example description. this is an example description. this is an example description. this is an example
    description. this is an example description. this is an example description. this is an example description. this is
    an example description. this is an example description. this is an example description.
  </p>
  <div class="buttons">
    <button class="primary-button">example</button>
    <button class="secondary-button">example</button>
  </div>
</div>

<style>
  button {
    padding: 0.5rem 2.5rem;
    border: none;
    font-family: lora, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9rem;
    color: #434342;
  }
</style>
