<div class="rich-text">
    <h1>this is an example heading</h1>
    <p>this is an example description. this is an example description. this is an example description. this is an example description. this is an example description. this is an example description. this is an example description. this is an example description. this is an example description. this is an example description.</p>
    <div class="buttons">
        <button class="primary-button">example</button>
        <button class="secondary-button">example</button>
    </div>
</div>

<style>
    button {
        width: 10vw;
    }
</style>