body {
  padding: 0;
  margin: 0;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1rem;
  color: #434342;
}

h1 {
  font-size: 1.75rem;
  font-family: lora, serif;
  font-weight: 400;
  font-style: normal;
}
